body {
  margin: 0; 
}

.wrapper {
  width: 95%; 
  max-width: 76em; 
  margin: 0 auto; 
}

ul {
  list-style: none; 
  display: flex; 
  justify-content: space-around; 
}

.row::after {
  content: ''; 
  display: block; 
  clear: both; 
  height: 0; 
}

.col {
  float: left; 
  box-sizing: border-box; 
  padding: 0 0.6875% 1.375em; 
  min-height: 100px; 
  outline: 1px solid black; 
}

.subcategory-header {
  width: 20%; 
}

.subcategory-content {
  width: 80%; 
}

.row-quartet > * {
  width: 25%; 
}

.subcategory-featured {
  width: 50%; 
}

.row-trio > * {
  width: 33.3333%
}

.story {
  padding: .6875em; 
  background-color: #eee; 
}

.story img {
  width: 100%; 
}